/* Navbar Container */
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(15, 18, 46);
  border-radius: 5px;
}

/* Navbar Logo */
.navbarLogo {
  display: flex;
  align-items: center;
}

.navbarLogoImg {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  margin-bottom: 5px;
  border-radius: 60px;
  margin-top: 5px;
}

/* Navbar Links */
.navbarLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px; /* Adjusted to display below the navbar */
  left: 0;
  width: 100%; /* Take up the full width on mobile */
  background-color: rgb(15, 18, 46);
  padding: 1rem 0;
  transform: scaleY(0);
  transform-origin: top; /* Transform from the top */
  transition: transform 0.3s ease-in-out;
  z-index: 10; /* Ensure it appears above other content */
}

.navbarLinksItems {
  display: flex;
  flex-direction: column; /* Stack links vertically */
  gap: 20px;
}

.navbarLinksItems a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.navbarLinksItems a:hover {
  color: #93959a;
}

.navbarShowMenu {
  transform: scaleY(1);
}

/* Navbar Buttons */
.navbarLogoutBtn,
.navbarLoginBtn {
  background-color: rgb(251, 248, 248);
  color: black;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  width: 80%; /* Full width on mobile */
  margin: 10px 0; /* Spacing between buttons */
}

.navbarLogoutBtn:hover,
.navbarLoginBtn:hover {
  background-color: #999797;
}

/* Hamburger Menu */
.navbarHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.navbarHamburger:hover {
  color: #ccc;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
  .navbarLinks {
    flex-direction: row;
    position: relative;
    top: 0;
    left: 3;
    width: auto;
    background-color: transparent;
    padding: 0;
    transform: none;
  }

  .navbarLinksItems {
    flex-direction: row;
    align-items: center;
  }

  .navbarLinksItems a {
    margin-right: 20px;
    font-size: 16px; /* Adjust font size for larger screens */
  }

  .navbarLogoutBtn,
  .navbarLoginBtn {
    margin-left: 20px;
    width: auto; /* Adjust button width for larger screens */
  }

  .navbarHamburger {
    display: none;
   
  }
}
