/* Footer Container */
.footerContainer {
  background-color: #141339;
  color: #fff;
  padding: 2rem 1rem;
}

.footerContainer hr {
  margin-bottom: 2rem;
}

/* Footer Content */
.footerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}

/* Footer Logo */
.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem; /* Adjust margin for better spacing */
}

.footerLogoImg {
  width: 90px;
  height: 90px;
  border-radius: 90px;
}

/* Footer Sections */
.footerLinks,
.footerHours,
.footerContact {
  flex: 1;
  min-width: 200px;
  margin-left: 30px;
}

.footerLinks h4,
.footerHours h4,
.footerContact h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: #ff6b6b;
}

/* Footer Lists */
.footerLinks ul,
.footerHours ul {
  list-style-type: none;
  padding: 0;
}

.footerLinks ul li,
.footerHours ul li {
  margin-bottom: 0.5rem;
}

.footerLinks ul li a {
  color: #fff;
  text-decoration: none;
}

.footerLinks ul li a:hover {
  color: #ff6b6b;
}

.footerHours ul li {
  display: flex;
  justify-content: space-between;
}

/* Footer Contact */
.footerContact .contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.footerContact .contactItem span {
  margin-left: 0.5rem;
}

/* Footer Social */
.footerSocial h4 {
  margin-top: 2rem;
  text-align: center; /* Center align on all devices */
}

.footerSocial .socialLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footerSocial .socialLinks a {
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerLogo {
    margin-bottom: 1rem;
  }

  .footerLinks,
  .footerHours,
  .footerContact {
    margin-left: 0;
    margin-bottom: 2rem; /* Add space between sections */
  }

  .footerContact .contactItem {
    justify-content: center;
  }

  .footerSocial h4 {
    margin-top: 1rem;
  }

  .footerSocial .socialLinks {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footerLogoImg {
    width: 70px;
    height: 70px;
  }

  .footerLinks h4,
  .footerHours h4,
  .footerContact h4 {
    font-size: 1rem; /* Smaller headers for mobile */
  }

  .footerLinks ul li,
  .footerHours ul li {
    margin-bottom: 0.3rem;
  }
}
